<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />

    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand nav-link" href="/" id="home">StudyPal</a>
      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          <a class="nav-item nav-link" id="login" href="/login">Login</a>
          <a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a>
          <a class="nav-item nav-link" id="search" href="/search">Search</a>
          <a class="nav-item nav-link" id="upload" href="/upload">Upload</a>
          <a class="nav-item nav-link" id="profile" href="/profile">Profile</a>
          <a class="nav-item nav-link" id="document" href="/document"
            >Document (temporär)</a
          >
        </div>
      </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories = true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dissmiss="alert">
        <span aria-hidden="true">&times;</span>>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <!-- Our content in all templates -->
    <div class="container">{% block content %} {% endblock %}</div>

    <!-- Added a divider to make it look more clean -->
    <div class="divider"></div>

    <!-- Added a footer from bootstrap -->
    <div class="container">
      <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Hem</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Något</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Något</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">FAQs</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 text-muted">Om oss</a>
          </li>
        </ul>
        <p class="text-center text-muted">© 2024 StudyPal AB</p>
      </footer>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <!-- Script för att importera javascript kod från index filen i static foldern -->
    <script
      type="text/javascript"
      src="{{url_for('static', filename='index.js') }}"
    ></script>
    <style>
      .divider {
        height: 100px;
      }
    </style>
  </body>
</html>
