{% extends "base.html" %}
{% block title %}{{ content.course_name }}{% endblock %}
{% block content %}

<div class="grid">
  <div class="blankTop">
    <div id="moderatorMenu" , style="display: none">
      <button id="moderatorBtn2" data-toggle="modal" data-target="#reportModalCommentInformation">Reported Comments</button>
    </div>
  </div>

  <div class="leftInfo">
    <h1 class="courseName">
      <strong> {{ content.course_name }} </strong>
    </h1>
    <h3>{{ content.university }}</h3>
    <p>Subject: {{ content.subject }}</p>
  </div>
  <div class="rightInfo">
    <p>Contribute & Earn Rewards</p>
    <p>Submit Your Documents <a href="/upload">Here</a></p>
  </div>
  <div class="infoBlankTop"></div>
  <div class="infoBar">
    <div class="infoBarBox">
      <div class="content1">
        <strong> Qty of Docs &nbsp;</strong>
      </div>
      <div class="verticalDivider1"></div>
      <div class="content2">
        <strong> Qty of Comments &nbsp;</strong>
      </div>
      <div class="verticalDivider2"></div>
      <div class="content3">
        <strong> <a href="#commentSection">Forum</a></strong>
      </div>
    </div>
  </div>
  <div class="infoBlankBottom"></div>
  <div class="documentArea">
    <!-- Filter Dropdown -->
    <div class="filter-section">
      <label for="documentTypeFilter">Filter by Document Type:</label>
      <select id="documentTypeFilter" class="form-control">
        <option value="all">All</option>
        {% for doc_type in documents.keys() %}
        <option value="{{ doc_type }}">{{ doc_type }}</option>
        {% endfor %}
      </select>
    </div>

    <!-- Loop through each document type and its corresponding documents -->
    {% for doc_type, doc_ids in documents.items() %}
    <div class="document-type-section" data-doc-type="{{ doc_type }}">
      <!-- <h3><strong> {{ doc_type }} </strong></h3> -->
      <ul class="documentList">
        {% for doc_id, doc_name in doc_ids.items() %}
        <li class="documentResult">
          <a href="{{ url_for('views.document', document_id=doc_id) }}">
            {{ doc_name }}
          </a>
          <!-- Add your logic here to display votes or other properties -->
          <div></div>
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endfor %}
  </div>

  <div class="documentFacts">
    <div class="documentFactsBox">
      <h2><strong> Top Contributors </strong></h2>
      <ol class="leaderboard">
        {% for contributor, score in content.top_contributors.items() %}
        <li class="leaderboard-item">
          {% if loop.first %}
          <img src="{{ url_for('static', filename='pictures/first_place.png') }}" class="contributor-image" alt="Top Contributor">
          {% endif %}
          <span class="contributor-name">{{ contributor }}</span>
          <span class="contributor-score">{{ score }} ⭐</span>
        </li>
        {% endfor %}
      </ol>
      <div class="contributor-message">
        <strong> Do you want to be a top contributor? Keep uploading to this course to earn points ⭐</strong>
      </div>
    </div>
  </div>
  

  <div class="commentArea">
    <!-- Comment form -->
    <div id="commentSection" class="container mt-4">
      <h1 class="forumTitle"><strong>Course Forum</strong></h1>
      <div class="comment-submit-form">
        <textarea id="commentInput" class="form-control mb-2" placeholder="Add a comment..." rows="3"></textarea>
        <button id="submitComment" class="btn btn-primary">Comment</button>
      </div>
      <!-- Display of comments -->
      <div class="comments-display mt-4">
        {% for comment_id, comment in comments.items() %}
        <div class="comment">
          <div class="comment-avatar">
            <!-- If we want it later -->
            <!-- <img src="{{ comment.avatar_url or 'path/to/default/avatar.png' }}" alt="User Avatar"> Adjust as needed -->
          </div>
          <div class="comment-content">
            <div class="comment-author">User: <strong>{{ comment.username }}</strong></div>
            <div class="comment-text">Comment: {{ comment.text }}</div>
            <div class="comment-timestamp">{{ comment.timestamp.date }} at {{ comment.timestamp.time }}</div>
            <div class="commentButtons">
              <i id="commentReply" class="bi bi-reply"></i>
              <i id="commentFlag" class="bi bi-flag" data-toggle="modal" data-target="#reportModalComment"></i>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
<!-- Report modal for comment -->
<div class="modal fade" id="reportModalComment" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Report Document</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div aria-hidden="true">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form inside the modal -->
        <form>
          <div class="form-group">
            <label for="reportReason">Choose an reason</label>
            <select class="form-control" id="reportReason">
              <option value="advertising">Advertising</option>
              <option value="inappropriateMaterial">Inappropriate or Offensive</option>
              <option value="plagiarism">Plagiarism or Copyright Infringement</option>
              <option value="irrelevantContent">Irrelevant or Off-topic</option>
              <option value="otherreason">Other Reason</option>
            </select>
          </div>

          <div class="form-group">
            <label for="reportText">Comment</label>
            <textarea class="form-control" id="reportText" rows="3" placeholder="Your Comment"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!-- TODO Kommer behöva implementeras så att det händer något -->
        <button type="button" class="btn btn-primary" id="submitReportComment">Submit Report</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal for all comment reports -->
<div class="modal fade" id="reportModalCommentInformation" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reported comments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <div aria-hidden="true">&times;</div>
        </button>
      </div>
      <div class="modal-body">
        FIXAAAAA TODO
        <!-- Här måste vi lägga in all rapporter för detta dokumentet -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<style>
  .grid {
    display: grid;
    grid-template-columns: 1.76fr 1fr;
    grid-template-rows: 60px 200px 100px 100px 700px auto;
  }
  .blankFooter {
    grid-column: 1 / span 2;
    grid-row: 6;
  }

  .blankTop {
    grid-row: 1;
    grid-column: 1 / span 2;
    /* background-color: #efefef; */
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftInfo,
  .rightInfo {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    background-color: #f0f2f5;
  }

  .leftInfo {
    grid-column: 1;
    grid-row: 2;
    text-align: left;
    padding-left: 40px;
  }

  .rightInfo {
    grid-column: 2;
    grid-row: 2;
    text-align: right;
    padding-right: 40px;
    font-size: large;
  }

  .infoBlankTop {
    grid-column: 1 / span 2;
    grid-row: 3;
    background-color: #f0f2f5;
  }
  .infoBlankBottom {
    grid-column: 1 / span 2;
    grid-row: 4;
  }

  .infoBar,
  .infoBarBox {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .infoBar {
    grid-column: 1 / span 2;
    grid-row: 3 / 5;
  }
  .infoBarBox {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    margin: auto;
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 93%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
  }
  .content1,
  .content2,
  .content3 {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .content3 a {
    text-decoration: none; /* Removes the underline from links */
    color: inherit; /* Inherits the text color from the parent element */
  }

  .content3 a:hover {
    text-decoration: underline; /* Adds underline on hover for better indication */
  }

  .verticalDivider1,
  .verticalDivider2 {
    height: 50%;
    width: 1px;
    background-color: #ccc;
  }

  .documentArea {
    grid-column: 1/2;
    grid-row: 5;
    margin-left: 5.5%;
    margin-right: 10px;
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* min-height: 700px; */
    overflow-y: auto;
    padding: 10px;
    overflow-x: auto;
  }

  .documentFacts {
    grid-column: 2/2; /* Position in the second column */
    grid-row: 5; /* Position in the fifth row */
    margin-right: 5.5%;
  }

  .documentFactsBox {
    border: 2px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 100%;
    width: 95%;
    overflow-y: auto;
    padding: 10px;
  }

  .leaderboard {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .leaderboard-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
    background: #f8f9fa;
    transition: transform 0.3s ease-in-out;
  }

  .leaderboard-item:hover {
    transform: scale(1.02);
    background: #e9ecef;
  }

  .contributor-image {
    width: 24px;
    height: 24px;
    margin-right: 10px;
  }

  .contributor-name {
    font-weight: bold;
    font-size: 16px;
  }

  .contributor-score {
    font-size: 16px;
    color: #6c757d;
    margin-left: auto; /* Align score to the right */
  }
  .commentArea {
    grid-row: 6;
    grid-column: 1 / span 2;
    background: #f0f2f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .forumTitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }
  .contributor-message {
    margin-top: 300px;
    font-size: 14px;
    color: #0f559b;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #e4e4e4;
    text-align: center;
  }

  .banner {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6; /* Adds a bottom border*/
  }
  .border-right {
    border-right: 1px solid #dee2e6; /* Adds a right border to the columns */
  }
  .content {
    margin-top: 20px;
    /* border: 1px solid #dee2e6; */
    border-radius: 5px;
    padding: 20px;
  }
  .comment-section {
    margin-top: 20px;
  }
  .comment {
    /* border-top: 1px solid #ccc; */
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
  }
  .comment:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  .comment-avatar {
    margin-right: 15px;
  }
  .comment-submit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .comment-submit-form textarea {
    resize: none;
    border-radius: 10px;
    border: 1px solid #ced4da;
    padding: 15px;
    font-size: 1rem;
  }

  .comment-submit-form button {
    align-self: flex-start;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }

  .comment-submit-form button:hover {
    background-color: #0056b3;
  }

  .comments-display {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .comment-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
  .comment-content {
    flex-grow: 1;
    border: 2px solid #f0f2f5;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
  }
  .comment-author {
    font-size: 1.1rem;
    font-weight: bold;
    color: #007bff;
  }
  .comment-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .comment-timestamp {
    font-size: 0.9rem;
    color: #6c757d;
  }

  .commentButtons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 50%;
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
    font-size: 18px;
    gap: 15px;
    margin-top: 10px;
  }

  .commentButtons i:hover {
    transform: scale(1.2);
  }

  .commentButtons i {
    cursor: pointer;
    font-size: 1.2rem;
    transition: transform 0.2s, color 0.2s;
  }

  #commentFlag {
    color: red;
  }
  #commentReply {
    color: rgb(1, 111, 255);
    font-size: 18px;
  }
  #commentLike:hover {
    color: rgb(65, 240, 79);
    transform: scale(1.09);
  }
  #commentDislike:hover {
    color: red;
    transform: scale(1.09);
  }
  .documentList {
    list-style-type: none;
    padding: 0;
  }
  .documentResult {
    background-color: #efefef;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .documentResult:hover {
    background-color: #e9e9e9;
  }
  .documentResult a {
    color: inherit;
    text-decoration: none;
  }
  .documentResult a:hover {
    text-decoration: underline;
  }
  .votes {
    float: right; /* Aligns the vote counts to the right */
  }

  .upvotes {
    color: green; /* Green color for upvotes */
    margin-right: 10px; /* Adds some spacing between upvotes and downvotes */
  }

  .downvotes {
    color: red; /* Red color for downvotes */
  }
  .vote-counters {
    display: flex;
    justify-content: flex-end;
  }

  .filter-section {
    margin-bottom: 20px;
  }

  .document-type-section {
    display: none; /* Hide all sections initially */
  }

  .document-type-section[d="all"] {
    display: block; /* Show all sections if "All" is selected */
  }
  #moderatorMenu {
    text-align: center; /* Center-align the buttons */
    padding: 20px; /* Add some padding around the buttons for spacing */
    /* background-color: #f5f5f5; Light grey background for a subtle look */
  }
  #moderatorBtn2 {
    background-color: #ffffff; /* White background for the buttons */
    color: #333333; /* Dark text color for contrast */
    border: 1px solid #ddd; /* Light border for definition */
    padding: 10px 20px; /* Padding inside the buttons */
    margin: 0 5px; /* Space between buttons */
    border-radius: 5px; /* Slightly rounded corners for the buttons */
    font-size: 16px; /* Moderate font size */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
  }

  #moderatorBtn2:hover {
    background-color: #e9ecef; /* Slightly darker background on hover */
    cursor: pointer; /* Change cursor to pointer to indicate clickable */
  }
</style>

<script type="module">
  // Firebase configuration and initialization
  import firebaseConfig from "{{ url_for('static', filename='firebase-cfg.js') }}";
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
  import {
    getAuth,
    onAuthStateChanged,
  } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
  import {
    getDatabase,
    ref,
    child,
    get,
    set,
  } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";

  const app = initializeApp(firebaseConfig);
  const auth = getAuth(app);
  const course_name = "{{ content.course_name }}";

  // Function to check if user exists in the database
  function userExists(uid) {
    const dbRef = ref(getDatabase());
    return get(child(dbRef, `Users/${uid}`))
      .then((snapshot) => {
        return snapshot.exists();
      })
      .catch((error) => {
        console.error(error);
        return false;
      });
  }

  // <!-- Dynamic commentsection -->
  document
    .getElementById("submitComment")
    .addEventListener("click", function () {
      const commentInput = document.getElementById("commentInput");
      const commentText = commentInput.value.trim();
      const db = getDatabase();
      const auth = getAuth();

      if (commentText && auth.currentUser) {
        fetch("/add_course_comment", {
          method: "POST",
          body: JSON.stringify({
            uid: auth.currentUser.uid,
            course_name: "{{ content.course_name }}",
            text: commentText,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.message);
            window.location.reload();
            commentInput.value = "";
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      } else {
        console.log("User is not signed in or comment is empty.");
      }
    });

  function fetchUser(uid) {
    const url = "/get_user"; // Update this URL to match your Flask endpoint

    const data = {
      uid: uid,
    };

    return fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .catch((error) => {
        console.error(error);
        return null;
      });
  }

  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("submitReportComment")
      .addEventListener("click", function () {
        alert("Report submitted successfully."); // Display system message
      });
  });

  document.addEventListener("DOMContentLoaded", function () {
    // Ensure all document sections are visible initially
    document.querySelectorAll(".document-type-section").forEach((section) => {
      section.style.display = "block";
    });

    const filterDropdown = document.getElementById("documentTypeFilter");

    filterDropdown.addEventListener("change", function () {
      const selectedType = filterDropdown.value;
      const documentSections = document.querySelectorAll(".document-type-section");

      documentSections.forEach((section) => {
        if (selectedType === "all" || section.dataset.docType === selectedType) {
          section.style.display = "block";
        } else {
          section.style.display = "none";
        }
      });
    });
  });

  // Check if user is signed in and get user's UID
  onAuthStateChanged(auth, (user) => {
    if (user) {
      const uid = user.uid;
      console.log("User is signed in with UID:", uid);

      fetchUser(user.uid).then((userData) => {
        if (userData) {
          // User is signed in
          if (userData.role === "moderator") {
            // Display Moderator Menu
            document.getElementById("moderatorMenu").style.display = "block";
          } else {
          }
        }
      });
    } else {
      console.log("User is signed out");

      // Redirect user to sign in page or handle the case where user is not signed in
      window.location.href = "/login";
    }
  });
</script>
{% endblock %}
