{% extends "base.html" %} {% block title %} {{ document_dict['upload']['header']
}} {% endblock %} {% block content%}
<div class="container my-5">
  <!-- Banner -->
  <div class="banner text-center py-3 mb-4 border-bottom">
    <!-- FROM DATABASE -->
    <h1>{{ document_dict['upload']['header'] }}</h1>
  </div>

  <!-- Three-column container -->
  <div class="row">
    <!-- First column -->
    <div class="col border-right">
      <!-- FROM DATABASE -->
      <p>Author: <strong>{{ document_dict['upload']['author']}}</strong></p>
    </div>
    <!-- Second column -->
    <div class="col border-right">
      <!-- FROM DATABASE -->
      <p>University: {{ document_dict['categorization']['school'] }}</p>
      <p>Course: {{document_dict['categorization']['course']}}</p>
      <p>Subject: {{document_dict['categorization']['subject']}}</p>
    </div>
    <!-- Third column -->
    <div class="col">
      <!-- FROM DATABASE -->
      <p>
        Comment from Author: {{document_dict['comments']['upload_comment']}}
      </p>
      <p>Uploaded: {{document_dict['timestamp']['date']}}</p>
    </div>
  </div>
  <!-- Button bar -->
  <div
    class="button-bar py-2 border-top border-bottom d-flex justify-content-between"
  >
    <!-- Left-aligned button -->
    <div>
      <a
        href="{{ download_url }}"
        type="button"
        class="btn btn-info"
        download
        target="_blank"
      >
        Download Document
      </a>
    </div>

    <!-- Right-aligned buttons -->
    <div>
      <span class="badge bg-success mx-1"
        >{{ document_dict['votes']['upvotes'] }}</span
      >
      <button
        type="button"
        class="btn btn-primary mx-1"
        id="likeBtn"
        onclick="vote('upvote', '{{ document_dict['id'] }}')"
      >
        Like
      </button>
      <span class="badge bg-danger mx-1"
        >{{ document_dict['votes']['downvotes'] }}</span
      >
      <button
        type="button"
        class="btn btn-secondary mx-1 dislike"
        id="dislikeBtn"
        onclick="vote('downvote', '{{ document_dict['id']}}')"
      >
        Dislike
      </button>
      <button
        type="button"
        class="btn btn-secondary mx-1"
        data-toggle="modal"
        data-target="#reportModal"
      >
        Report
      </button>
    </div>
  </div>

  <!-- PDF Viewer -->
  <div id="pdfViewer" class="pdf-viewer border-top py-2" style="display: block">
    <iframe src="{{ download_url }}" frameborder="0" class="pdf_frame"></iframe>
  </div>
</div>

<!-- Report Modal with form -->
<div
  class="modal fade"
  id="reportModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="modelTitleId"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Report Document</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Form inside the modal -->
        <form>
          <div class="form-group">
            <label for="reportReason">Choose an reason</label>
            <select class="form-control" id="reportReason">
              <option value="inaccurateContent">
                Inaccurate or Misleading Content
              </option>
              <option value="inappropriateMaterial">
                Inappropriate or Offensive Material
              </option>
              <option value="plagiarism">
                Plagiarism or Copyright Infringement
              </option>
              <option value="irrelevantContent">Irrelevant or Off-topic</option>
              <option value="otherreason">Other Reason</option>
            </select>
          </div>

          <div class="form-group">
            <label for="reportText">Comment</label>
            <textarea
              class="form-control"
              id="reportText"
              rows="3"
              placeholder="Your Comment"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" id="submitReport">
          Submit Report
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Comment form -->
<div id="commentSection" class="container mt-5">
  <h3>Comments</h3>
  <div class="comment-submit-form">
    <textarea
      id="commentInput"
      class="form-control mb-2"
      placeholder="Add a comment..."
      rows="3"
    ></textarea>
    <button id="submitComment" class="btn btn-primary">Comment</button>
  </div>
  <!-- Display of comments -->
  <div class="comments-display">
    <!-- Comments will be dynamically added here from our firebase database -->
    <!-- Display of comments -->
    {% for comment in comments %}
    <div class="comment">
      <div class="comment-avatar">
        <!-- If we want it later -->
        <!-- <img src="{{ comment.avatar_url or 'path/to/default/avatar.png' }}" alt="User Avatar"> Adjust as needed -->
      </div>
      <div class="comment-content">
        <div class="comment-author">User: {{ comment.username }}</div>
        <div class="comment-text">Comment: {{ comment.text }}</div>
        <div class="comment-timestamp">
          {{ comment.timestamp.date }} at {{ comment.timestamp.time }}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .banner {
    background-color: #f8f9fa;
    border-bottom: 2px solid #dee2e6; /* Adds a bottom border */
  }

  .border-right {
    border-right: 1px solid #dee2e6; /* Adds a right border to the columns */
  }

  .pdf_frame {
    height: 100%;
    width: 100%;
  }
  .pdf-viewer {
    position: relative;
    height: 500px; /* Or whatever size you prefer */
    overflow: auto;
  }

  #pdf-canvas {
    width: 100%;
    height: auto;
    border: 1px solid #000; /* For visual separation */
  }

  .comment-section {
    margin-top: 20px;
  }

  .comment {
    border-top: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 10px 0;
  }

  .comment-avatar {
    margin-right: 10px;
  }

  .comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .comment-content {
    flex-grow: 1;
    margin-left: 50px;
  }

  .comment-author {
    font-weight: bold;
  }

  .comment-text {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .dislike {
    background-color: red;
  }
</style>

<!-- Script for Firebase authentication and voting -->
<script type="module">
  // Firebase configuration and initialization
  import firebaseConfig from "{{ url_for('static', filename='firebase-cfg.js') }}";
  import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
  import {
    getAuth,
    onAuthStateChanged,
  } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
  import {
    getDatabase,
    ref,
    child,
    get,
    set,
  } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";

  const app = initializeApp(firebaseConfig);
  const auth = getAuth(app);
  const document_id = "{{document_dict['id']}}";

  // Function to check if user exists in the database
  function userExists(uid) {
    const dbRef = ref(getDatabase());
    return get(child(dbRef, `Users/${uid}`))
      .then((snapshot) => {
        return snapshot.exists();
      })
      .catch((error) => {
        console.error(error);
        return false;
      });
  }

  function fetchUser(uid) {
    const url = "/get_user"; // Update this URL to match your Flask endpoint

    const data = {
      uid: uid,
    };

    return fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .catch((error) => {
        console.error(error);
        return null;
      });
  }

  // Check if user is signed in and get user's UID
  onAuthStateChanged(auth, (user) => {
    if (user) {
      const uid = user.uid;
      console.log("User is signed in with UID:", uid);

      // Call your function here with UID if needed
      document.getElementById("likeBtn").addEventListener("click", function () {
        castVote(true, uid);
      });

      document
        .getElementById("dislikeBtn")
        .addEventListener("click", function () {
          castVote(false, uid);
        });
    } else {
      console.log("User is signed out");
      // Redirect user to sign in page or handle the case where user is not signed in
    }
  });

  function validateDocument(documentId) {
    fetch(`/validate_document/${documentId}`, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({}),
    })
      .then((response) => {
        if (response.ok) {
          return response.text();
        } else {
          throw new Error("Network response was not ok.");
        }
      })
      .then((data) => {
        console.log(data);
        //success
      })
      .catch((error) => {
        console.error(
          "There has been a problem with your fetch operation:",
          error
        );
      });
  }

  function castVote(isUpvote, uid) {
    var documentId = "{{ document_dict['id'] }}";
    if (!documentId) {
      alert("Document ID not available!");
      return;
    }
    fetch("/vote_document", {
      method: "POST",
      body: JSON.stringify({
        uid: uid,
        document_id: documentId,
        is_upvote: isUpvote,
      }),
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        console.log("Successfully added vote");
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  // <!-- Dynamic commentsection -->
  document
    .getElementById("submitComment")
    .addEventListener("click", function () {
      const commentInput = document.getElementById("commentInput");
      const commentText = commentInput.value.trim();
      const db = getDatabase();
      const auth = getAuth();

      if (commentText && auth.currentUser) {
        fetch("/add_document_comment", {
          method: "POST",
          body: JSON.stringify({
            uid: auth.currentUser.uid,
            document_id: "{{ document_dict['id'] }}",
            text: commentText,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((response) => response.json())
          .then((data) => {
            console.log(data.message);
            window.location.reload();
            commentInput.value = "";
          })
          .catch((error) => {
            console.error("Error:", error);
          });
      } else {
        console.log("User is not signed in or comment is empty.");
      }
    });

  // Report extraction
  document
    .getElementById("submitReport")
    .addEventListener("click", function () {
      const reportReasonSelect = document.getElementById("reportReason");
      const reportReason = reportReasonSelect.value;
      const reportText = document.getElementById("reportText").value;

      // Assuming the user is already signed in and you have their UID
      const uid = auth.currentUser ? auth.currentUser.uid : null;
      const documentId = "{{ document_dict['id'] }}";

      if (!uid) {
        alert("You must be signed in to submit a report.");
        return;
      }

      const reportData = {
        uid: uid,
        document_id: documentId,
        reason: reportReason,
        text: reportText,
      };

      fetch("/add_document_report", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify(reportData),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log(data.message);
          $("#reportModal").modal("hide");
          reportReasonSelect.value = reportReasonSelect.options[0].value;
          document.getElementById("reportText").value = "";
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    });
</script>

<!-- MVP (Måste göras om) Laddar om sidan vid like. Får göras dynamiskt när vi har tid -->
<script>
  function vote(action, documentId) {
    const form = new FormData();
    form.append("action", action);
    form.append("document_id", documentId);

    fetch(`/vote/${action}/${documentId}`, {
      method: "POST",
      body: form,
    }).then((response) => {
      // Reload the page after the fetch completes
      window.location.reload();
    });
  }
</script>

{% endblock %}
