{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="grid">
  <div class="first">
    <div class="firstContent">
      <h1><strong>StudyPal</strong></h1>
      <p>Your way to educational success</p>

      <form action="/search" method="get" class="searchbar">
        <!-- University Dropdown -->
        <select
          class="custom-select"
          id="university"
          name="university"
          onchange="searchDropDownMenu.updateSubjects(); searchDropDownMenu.updateCourses();"
        >
          <option selected>Choose a university...</option>
          {% for university in universities %}
          <option value="{{ university }}">{{ university }}</option>
          {% endfor %}
        </select>

        <!-- Subject Dropdown -->
        <select
          class="custom-select"
          id="subject"
          name="subject"
          onchange="searchDropDownMenu.updateUniversities(); searchDropDownMenu.updateCourses();"
        >
          <option selected>Choose a subject...</option>
          {% for subject in subjects %}
          <option value="{{ subject }}">{{ subject }}</option>
          {% endfor %}
        </select>

        <!-- Courses Dropdown, initially disabled -->
        <select class="custom-select" id="course" name="course" disabled>
          <option selected>Choose a course...</option>
          <!-- Course options will be populated based on the selected university and subject -->
        </select>

        <!-- Search Input -->
        <input
          type="text"
          class="form-control"
          placeholder="Search for courses"
          name="query"
        />
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="second"></div>
  <div class="thirdLeft"></div>
  <div class="thirdRight"></div>
  <div class="fourthLeft"></div>
  <div class="fourthRight"></div>
</div>

<script>
  class SearchDropDownMenu {
    constructor() {
      this.initialUniversitiesHTML =
        document.getElementById("university").innerHTML;
      this.initialSubjectsHTML = document.getElementById("subject").innerHTML;
      this.universitySelected = 0;
      this.subjectSelected = 0;
    }

    updateCourses() {
      var universitySelect = document.getElementById("university");
      var subjectSelect = document.getElementById("subject");
      var courseSelect = document.getElementById("course");
      var selectedUniversity = universitySelect.value;
      var selectedSubject = subjectSelect.value;
      setTimeout(() => {
        if (
          selectedUniversity !== "Choose a university..." &&
          selectedUniversity &&
          selectedSubject !== "Choose a subject..." &&
          selectedSubject &&
          this.universitySelected === 1 &&
          this.subjectSelected === 1
        ) {
          fetch(
            `/get-courses?university=${selectedUniversity}&subject=${selectedSubject}`
          )
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to load courses"); // Error handling
              }
              return response.json();
            })
            .then((courses) => {
              courseSelect.innerHTML =
                "<option selected>Choose a course...</option>";
              courses.forEach((course) => {
                var option = document.createElement("option");
                option.value = course;
                option.textContent = course;
                courseSelect.appendChild(option);
              });
              courseSelect.disabled = false;
            })
            .catch((error) => {
              // Error handling
              console.error("Failed to fetch courses:", error);
              alert("Failed to fetch courses. Please try again.");
            });
        } else {
          courseSelect.innerHTML =
            "<option selected>Choose a course...</option>";
          courseSelect.disabled = true;
        }
      }, 50);
    }

    updateSubjects() {
      var universitySelect = document.getElementById("university");
      var subjectSelect = document.getElementById("subject");
      var courseSelect = document.getElementById("course");
      var selectedSubject = subjectSelect.value;
      var selectedUniversity = universitySelect.value;
      if (
        selectedUniversity &&
        selectedUniversity !== "Choose a university..." &&
        this.subjectSelected === 0
      ) {
        this.universitySelected = 1;
        fetch(`/get-subjects?university=${selectedUniversity}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Failed to load subjects."); // Error handling
            }
            return response.json();
          })
          .then((subjects) => {
            subjectSelect.innerHTML =
              "<option selected>Choose a subject...</option>";
            subjects.forEach((subject) => {
              var option = document.createElement("option");
              option.value = subject;
              option.textContent = subject;
              subjectSelect.appendChild(option);
            });

            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
          })
          .catch((error) => {
            // Error handling
            console.error("Failed to fetch subjects:", error);
            alert("Failed to fetch subjects. Please try again.");
          });
      } else if (
        selectedUniversity &&
        selectedUniversity !== "Choose a university..." &&
        selectedSubject &&
        selectedSubject !== "Choose a subject" &&
        this.universitySelected === 1 &&
        this.subjectSelected === 1
      ) {
        this.subjectSelected = 0;
        fetch(`/get-subjects?university=${selectedUniversity}`)
          .then((response) => response.json())
          .then((subjects) => {
            subjectSelect.innerHTML =
              "<option selected>Choose a subject...</option>";
            subjects.forEach((subject) => {
              var option = document.createElement("option");
              option.value = subject;
              option.textContent = subject;
              subjectSelect.appendChild(option);
            });

            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
          });
      } else if (
        selectedUniversity &&
        selectedUniversity !== "Choose a university..."
      ) {
        this.universitySelected = 1;
      } else {
        this.universitySelected = 0;
        this.subjectSelected = 0;
        subjectSelect.innerHTML = this.initialSubjectsHTML;
      }
    }

    updateUniversities() {
      var universitySelect = document.getElementById("university");
      var subjectSelect = document.getElementById("subject");
      var courseSelect = document.getElementById("course");
      var selectedUniversity = universitySelect.value;
      var selectedSubject = subjectSelect.value;
      if (
        selectedSubject &&
        selectedSubject !== "Choose a subject..." &&
        this.universitySelected === 0
      ) {
        this.subjectSelected = 1;
        fetch(`/get-universities?subject=${selectedSubject}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Failed to load universities."); // Error handling
            }
            return response.json();
          })
          .then((universities) => {
            universitySelect.innerHTML =
              "<option selected>Choose a university...</option>";
            universities.forEach((university) => {
              var option = document.createElement("option");
              option.value = university;
              option.textContent = university;
              universitySelect.appendChild(option);
            });

            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
          })
          .catch((error) => {
            // Error handling
            console.error("Failed to fetch universities:", error);
            alert("Failed to fetch subjects. Please try again.");
          });
      } else if (selectedSubject && selectedSubject !== "Choose a subject...") {
        this.subjectSelected = 1;
      } else {
        this.universitySelected = 0;
        this.subjectSelected = 0;
        universitySelect.innerHTML = this.initialUniversitiesHTML;
      }
    }
  }

  var searchDropDownMenu = new SearchDropDownMenu();
</script>

<style>
  .grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 650px 450px 400px 400px;
  }

  .first {
    grid-row: 1;
    grid-column: 1 / span 2;
    background-color: black;
  }
  .firstContent {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: url("{{ url_for("static", filename= "pictures/bookedited.png") }}");
  }
  .firstContent h1 {
    font-size: 64px;
  }
  .firstContent p {
    font-size: 24px;
    font-weight: bold;
  }
  .searchbar {
    display: flex;
    justify-content: space-between;
    margin-top: 8%;
    width: 80%;
  }

  .second {
    grid: 2;
    grid-column: 1 / span 2;
    background-color: #f5f5f5;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thirdLeft {
    grid-row: 3;
    grid-column: 1 / 2;
    margin: 10px;
    margin-bottom: 5px;
    margin-right: 5px;
    /* background-image: url("{{ url_for('static', filename='pictures/Student.png') }}"); */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #efefef;
    background-size: cover;
  }

  .thirdRight {
    grid-row: 3;
    grid-column: 2 / 2;
    margin: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    /* background-image: url("{{ url_for('static', filename='pictures/University.png') }}"); */
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
  }
  .fourthLeft {
    grid-row: 4;
    grid-column: 1 / 2;
    margin: 10px;
    margin-top: 5px;
    margin-right: 5px;
    /* background-image: url("{{ url_for('static', filename='pictures/Student.png') }}"); */
    background-position: center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
  }

  .fourthRight {
    grid-row: 4;
    grid-column: 2 / 2;
    margin: 10px;
    margin-top: 5px;
    margin-left: 5px;
    /* background-image: url("{{ url_for('static', filename='pictures/University.png') }}"); */
    background-position: center;
    background-repeat: no-repeat;
    background-color: #efefef;
    background-size: cover;
  }
</style>

{% endblock %}
