{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

<div class="grid">
  <div class="first">
    <div class="firstContent">
      <h1><strong>StudyPal</strong></h1>
      <p>Your way to educational success</p>

      <form action="/search" method="get" class="searchbar">
        <!-- University Dropdown -->
        <select
          class="custom-select"
          id="university"
          name="university"
          onchange="searchDropDownMenu.updateSubjects(); searchDropDownMenu.updateCourses();"
        >
          <option selected>Choose a university...</option>
          {% for university in universities %}
          <option value="{{ university }}">{{ university }}</option>
          {% endfor %}
        </select>

        <!-- Subject Dropdown -->
        <select
          class="custom-select"
          id="subject"
          name="subject"
          onchange="searchDropDownMenu.updateUniversities(); searchDropDownMenu.updateCourses();"
        >
          <option selected>Choose a subject...</option>
          {% for subject in subjects %}
          <option value="{{ subject }}">{{ subject }}</option>
          {% endfor %}
        </select>

        <!-- Courses Dropdown, initially disabled -->
        <select class="custom-select" id="course" name="course" disabled>
          <option selected>Choose a course...</option>
          <!-- Course options will be populated based on the selected university and subject -->
        </select>

        <!-- Search Input -->
        <input
          type="text"
          class="form-control"
          placeholder="Search for courses"
          name="query"
        />
        <div class="input-group-append">
          <button class="btn btn-secondary" type="submit">Search</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <div class="card-grid">
    <div class="card">
      <div class="card-icon">
        <img src="{{ url_for('static', filename='pictures/students-icon.png') }}" alt="students-icon">
      </div>
      <div class="card-content">
        <br>
        <h2>450 000+ Students</h2>
        <p>More than 450 000 students in Sweden are able to use StudyPal to find old exams, assignments and lecture notes!</p>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <img src="{{ url_for('static', filename='pictures/university-icon.png') }}" alt="university-icon">
      </div>
      <div class="card-content">
        <br>
        <h2>40+ Universities</h2>
        <p>More than 40 universities in Sweden are able to connect over StudyPal!</p>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <img src="{{ url_for('static', filename='pictures/24-7-icon.png') }}" alt="24-7-icon">
      </div>
      <div class="card-content">
        <br>
        <h2>Available anytime and everywhere</h2>
        <p>Since this is an online based application, StudyPal is available anythime and eveyrwhere!</p>
      </div>
    </div>

    <div class="card">
      <div class="card-icon">
        <img src="{{ url_for('static', filename='pictures/study-material-icon.png') }}" alt="study-material-icon">
      </div>
      <div class="card-content">
        <br>
        <h2>Find the best study material </h2>
        <p>Since there is alot of students and universities in Sweden, by uplopading material to StudyPal you will help yourself and others to find the best material!</p>
      </div>
    </div>  
    <div class="second">
      <p>Never miss out on old exams, assignments and lecture notes. StudyPal has everything you need!</p>
    </div>
</div>


<script>
  class SearchDropDownMenu {
    constructor() {
      this.initialUniversitiesHTML =
        document.getElementById("university").innerHTML;
      this.initialSubjectsHTML = document.getElementById("subject").innerHTML;
      this.universitySelected = 0;
      this.subjectSelected = 0;
    }

    updateCourses() {
      var universitySelect = document.getElementById("university");
      var subjectSelect = document.getElementById("subject");
      var courseSelect = document.getElementById("course");
      var selectedUniversity = universitySelect.value;
      var selectedSubject = subjectSelect.value;
      setTimeout(() => {
        if (
          selectedUniversity !== "Choose a university..." &&
          selectedUniversity &&
          selectedSubject !== "Choose a subject..." &&
          selectedSubject &&
          this.universitySelected === 1 &&
          this.subjectSelected === 1
        ) {
          fetch(
            `/get-courses?university=${selectedUniversity}&subject=${selectedSubject}`
          )
            .then((response) => {
              if (!response.ok) {
                throw new Error("Failed to load courses"); // Error handling
              }
              return response.json();
            })
            .then((courses) => {
              courseSelect.innerHTML =
                "<option selected>Choose a course...</option>";
              courses.forEach((course) => {
                var option = document.createElement("option");
                option.value = course;
                option.textContent = course;
                courseSelect.appendChild(option);
              });
              courseSelect.disabled = false;
            })
            .catch((error) => {
              // Error handling
              console.error("Failed to fetch courses:", error);
              alert("Failed to fetch courses. Please try again.");
            });
        } else {
          courseSelect.innerHTML =
            "<option selected>Choose a course...</option>";
          courseSelect.disabled = true;
        }
      }, 50);
    }

    updateSubjects() {
      var universitySelect = document.getElementById("university");
      var subjectSelect = document.getElementById("subject");
      var courseSelect = document.getElementById("course");
      var selectedSubject = subjectSelect.value;
      var selectedUniversity = universitySelect.value;
      if (
        selectedUniversity &&
        selectedUniversity !== "Choose a university..." &&
        this.subjectSelected === 0
      ) {
        this.universitySelected = 1;
        fetch(`/get-subjects?university=${selectedUniversity}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Failed to load subjects."); // Error handling
            }
            return response.json();
          })
          .then((subjects) => {
            subjectSelect.innerHTML =
              "<option selected>Choose a subject...</option>";
            subjects.forEach((subject) => {
              var option = document.createElement("option");
              option.value = subject;
              option.textContent = subject;
              subjectSelect.appendChild(option);
            });

            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
          })
          .catch((error) => {
            // Error handling
            console.error("Failed to fetch subjects:", error);
            alert("Failed to fetch subjects. Please try again.");
          });
      } else if (
        selectedUniversity &&
        selectedUniversity !== "Choose a university..." &&
        selectedSubject &&
        selectedSubject !== "Choose a subject" &&
        this.universitySelected === 1 &&
        this.subjectSelected === 1
      ) {
        this.subjectSelected = 0;
        fetch(`/get-subjects?university=${selectedUniversity}`)
          .then((response) => response.json())
          .then((subjects) => {
            subjectSelect.innerHTML =
              "<option selected>Choose a subject...</option>";
            subjects.forEach((subject) => {
              var option = document.createElement("option");
              option.value = subject;
              option.textContent = subject;
              subjectSelect.appendChild(option);
            });

            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
          });
      } else if (
        selectedUniversity &&
        selectedUniversity !== "Choose a university..."
      ) {
        this.universitySelected = 1;
      } else {
        this.universitySelected = 0;
        this.subjectSelected = 0;
        subjectSelect.innerHTML = this.initialSubjectsHTML;
      }
    }

    updateUniversities() {
      var universitySelect = document.getElementById("university");
      var subjectSelect = document.getElementById("subject");
      var courseSelect = document.getElementById("course");
      var selectedUniversity = universitySelect.value;
      var selectedSubject = subjectSelect.value;
      if (
        selectedSubject &&
        selectedSubject !== "Choose a subject..." &&
        this.universitySelected === 0
      ) {
        this.subjectSelected = 1;
        fetch(`/get-universities?subject=${selectedSubject}`)
          .then((response) => {
            if (!response.ok) {
              throw new Error("Failed to load universities."); // Error handling
            }
            return response.json();
          })
          .then((universities) => {
            universitySelect.innerHTML =
              "<option selected>Choose a university...</option>";
            universities.forEach((university) => {
              var option = document.createElement("option");
              option.value = university;
              option.textContent = university;
              universitySelect.appendChild(option);
            });

            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
          })
          .catch((error) => {
            // Error handling
            console.error("Failed to fetch universities:", error);
            alert("Failed to fetch subjects. Please try again.");
          });
      } else if (selectedSubject && selectedSubject !== "Choose a subject...") {
        this.subjectSelected = 1;
      } else {
        this.universitySelected = 0;
        this.subjectSelected = 0;
        universitySelect.innerHTML = this.initialUniversitiesHTML;
      }
    }
  }

  var searchDropDownMenu = new SearchDropDownMenu();
</script>

<style>
  body {
    background-image: url("{{ url_for('static', filename='pictures/bookedited.png') }}");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1200px;
  }

  .card {
    background-color: rgb(215, 211, 203);
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .card-icon {
    flex: 0 0 auto;
    margin-right: 20px;
  }

  .card-icon img {
    width: 50px;
    height: 50px;
  }

  .card-content {
    flex: 1;
  }

  .card-content h2 {
    margin: 0 0 10px;
    font-size: 1.5rem;
  }

  .card-content p {
    margin: 0;
    font-size: 1rem;
    color: #666;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #f9f5ef, #e1d8ce);

  }
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    
  }
  .grid div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Arial', sans-serif;
    padding: 40px; /* Increased padding for better spacing */
    transition: transform 0.3s ease; /* Smooth transition for hover effects */
  }

  .grid div p {
    font-size: 40px; /* Increased font size for better readability */
    font-weight: normal; /* Default weight for less dense text appearance */
  }

  /* Ensuring the text is visually centered and has good readability */
  .grid div {
    font-size: 20px; /* Consistent font size */
    font-weight: bold; /* Makes text stand out more */
    color: #000000;
  }

  .first {
    grid-row: 1;
    grid-column: 1 / span 2;

    height: 700px;
  }
  
  .firstContent {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    padding-top: 150px;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    background-image: url("{{ url_for('static', filename='pictures/bookedited.png') }}");
  }

  .firstContent h1 {
    font-size: 64px;
    color: white;
  }
  .firstContent p {
    font-size: 24px;
    font-weight: bold;
    color: rgb(225, 225, 225);
  }
  .searchbar {
    display: flex; /* Ensures the form elements are in a row */
    align-items: center; /* Centers the form elements vertically */
    justify-content: space-between; /* Optional: spaces out the elements */
    padding: 10px; /* Adds some padding inside the form */
    border-radius: 8px; /* Optional: rounds the corners of the form */
    width: auto; /* Adjusts the width automatically based on the content */
  }

  .second {
    grid: 2;
    grid-column: 1 / span 2;
    background-color:rgb(215, 211, 203);;
    color: #000000;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 150px;
    margin-bottom: 100px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  .second:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(145deg, #f9f5ef, #e1d8ce);

  }
</style>



{% endblock %}
