{% extends "base.html" %} {% block title %}Profile{% endblock %} {% block
content %}
<style>
  /* Add your custom CSS styles here */
  .profile-card {
    width: 350px; /* Increased width for the profile card */
    float: left; /* Changed float to left */
    margin-bottom: 20px; /* Added margin-bottom to separate profile card from documents box */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative; /* Added position relative for positioning the sign-out button */
    min-height: 320px; /* Set minimum height for profile card */
  }
  .profile-card h3 {
    margin-bottom: 15px;
    margin-top: 20px; /* Increased margin-top for the "Welcome" text */
    color: #333;
  }
  .profile-card p {
    margin-bottom: 10px;
    color: #666;
  }
  .profile-picture {
    width: 150px; /* Increased width for the profile picture */
    height: 150px; /* Increased height for the profile picture */
    border-radius: 50%; /* Rounded border for circular profile picture */
    margin: 20px auto 30px; /* Changed margin to include larger margin-top and margin-bottom */
    display: block; /* Display as a block element */
    object-fit: cover; /* Ensure the image covers the entire area */
  }
  .document-box {
    max-width: calc(
      100% - 390px
    ); /* Adjusted max-width for the documents box */
    margin-left: 370px; /* Changed margin-left to accommodate the profile card */
    margin-top: 40px; /* Added margin-top to create space between the top and the boxes */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  .document-box h3 {
    margin-bottom: 15px;
    color: #333;
  }
  .document-list {
    margin-top: 20px;
  }
  .document-item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }
  .document-link {
    color: #007bff;
    text-decoration: none;
  }
  .no-documents-message {
    font-style: italic;
    color: #888;
  }
  .upload-link {
    color: #007bff;
    text-decoration: none;
  }
  /* Custom styles for the submit button */
  .submit-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .submit-btn:hover {
    background-color: #0056b3;
  }
  /* Add space between profile card and footer */
  footer {
    clear: both; /* Ensure the footer stays below both floating elements */
    margin-top: 40px; /* Add space between the profile card and the footer */
  }
  /* Add style for sign-out button */
  .sign-out-btn {
    background-color: #dc3545; /* Red color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: fixed; /* Position the sign-out button */
    top: 80px; /* Adjust the bottom position */
    right: 20px; /* Adjust the right position */
  }
  .sign-out-btn:hover {
    background-color: #c82333; /* Darker red on hover */
  }
  .document-date {
    margin-left: auto;
  }
  .loading-documents {
    margin-bottom: 10px;
    color: #888;
  }
</style>

<div class="profile-card" id="profileContainer"></div>

<!-- button class="sign-out-btn" onclick="signOutUser()">Sign Out</button -->

<div class="document-box">
  <h3>My Uploads</h3>
  <div id="documentList">
    <p class="loading-documents">Loading documents...</p>
  </div>
</div>

<script type="module">
  import {
    GoogleAuthProvider,
    getAuth,
    signInWithPopup,
    onAuthStateChanged,
    updateProfile,
  } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
  import {
    getDatabase,
    ref,
    get,
    child,
    set,
  } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-database.js";
  import { app, auth, userExists } from "../static/index.js";

  function fetchUser(uid) {
    const url = "/get_user"; // Update this URL to match your Flask endpoint

    const data = {
      uid: uid,
    };

    return fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .catch((error) => {
        console.error(error);
        return null;
      });
  }

  function displayUser(uid) {
    fetchUser(uid)
      .then((data) => {
        if (data) {
          const username = data.username;
          const creationDate = data.creation_date;

          // Display user information
          const profileView = `
            <h3>Welcome, ${username}</h3>
            <p>Member since: ${creationDate}</p>
          `;

          document.getElementById("profileContainer").innerHTML = profileView;
        } else {
          // Handle case where user data is not available
          document.getElementById("profileContainer").innerHTML =
            "<p>User data not available.</p>";
        }
      })
      .catch((error) => {
        console.error(error);
        // Handle any errors
        document.getElementById("profileContainer").innerHTML =
          "<p>An error occurred while fetching user data.</p>";
      });
  }

  // Function to display profile information
  function displayProfile(uid, user) {
    fetchUser(uid)
      .then((data) => {
        if (data) {
          const username = data.username || "unknown user";
          const creationDate = data.creation_date || "";

          // Display profile information
          let profileView = `
                <img src="${user.photoURL}" alt="Profile Picture" class="profile-picture">
                <h3>Welcome, ${user.displayName}</h3>
                <p>Username: ${username}</p>
                <p>Email: ${user.email}</p>
                <p>Member since: ${creationDate}</p>
                <!-- Add more profile information here -->
            `;

          // Update profile container with the profile view
          document.getElementById("profileContainer").innerHTML = profileView;
        } else {
          // Handle case where user data is not available
          console.log("errr");
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }

  // Function to display the document list
  function displayDocumentList(uid) {
    fetch("/get_user_documents", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ uid: uid }),
    })
      .then((response) => response.json())
      .then((documentList) => {
        let documentListView = "";

        if (documentList.length > 0) {
          // Sort the document IDs
          const sortedDocumentIds = documentList
            .map((document) => document.id)
            .sort((a, b) => a - b);

          sortedDocumentIds.forEach((documentId) => {
            // Fetch document details for each document
            fetchDocumentDetails(documentId)
              .then((data) => {
                const validationStatus = data.validated
                  ? "Validated"
                  : "Awaiting Validation";
                documentListView += `
                <div class="document-item">
                  <a href="/document/${documentId}" class="document-link">${data.header}</a>
                  <span class="document-validation">${validationStatus}</span>
                </div>
              `;

                // Update the document list container with the generated HTML
                document.getElementById("documentList").innerHTML =
                  documentListView;

                // Remove the loading text once documents are loaded
                document.querySelector(".loading-documents").style.display =
                  "none";
              })
              .catch((error) => {
                console.error(error);
              });
          });
        } else {
          documentListView +=
            '<p class="no-documents-message">No uploads yet. ';
          documentListView +=
            '<a href="/upload_v2" class="upload-link">Upload your first document</a>.</p>';

          // Update the document list container with the generated HTML
          document.getElementById("documentList").innerHTML = documentListView;
        }
      })
      .catch((error) => {
        console.error(error);
      });
  }

  // Function to fetch document details
  function fetchDocumentDetails(documentId) {
    return fetch("/get_document", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ document_id: documentId }),
    }).then((response) => response.json());
  }

  onAuthStateChanged(auth, (user) => {
    if (user) {
      const uid = user.uid;

      userExists(uid).then((exists) => {
        if (exists) {
          // Display profile
          displayProfile(uid, user);

          // Display document list
          displayDocumentList(uid);
        } else {
          window.location.href = "/create_profile";
        }
      });
    } else {
      // Provide login prompt
      const loginPrompt = `
      <div class="login-prompt">
        <p>Please <a href="/login" class="login-link">log in</a> to view your profile.</p>
      </div>
    `;
      document.getElementById("profileContainer").innerHTML = loginPrompt;
    }
  });
</script>
{% endblock %}
