<!-- search_results.html -->
{% extends "base.html" %} {% block title %}Search Results{% endblock %} {% block content
  %}

<div class="container my-5">
  {% if query %}
  <h2 class="simonsheader">Search Results for "{{ query }}"</h2>
  {% endif %}
  <ul class="searchList">
    {% for result in results %}
    <li class="searchResult"><a href="{{ url_for('views.course_page', course_name=result) }}">{{ result }}</a></li>
    {% else %}
    <p>No results found.</p>
    {% endfor %}
  </ul>
</div>

<style>
  .simonsheader {
    color: #333;
    font-size: 24px;
  }
  .searchList {
    list-style-type: none;
    padding: 0;
  }
  .searchResult {
    background-color: #f0f0f0;
    margin-bottom: 8px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .searchResult:hover {
    background-color: #e9e9e9;
  }
  .searchResult a {
    color: inherit; 
    text-decoration: none; 
  }
  .searchResult a:hover {
    text-decoration: underline;
  }
</style>

{% endblock %}
