{% extends "base.html" %} {% block title %}Submission Completed{% endblock %} {%
block content %}

<div class="container my-5">
  <div
    style="
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    "
  >
    <h1><strong>Thank You for Your Submission!</strong></h1>
    <p>
      Your document has been successfully submitted and is currently pending
      review. It will be published as soon as it has been approved by a
      moderator.
    </p>
  </div>
</div>

{% endblock %}
