{% extends "base.html" %} {% block title %}Upload Specifications{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Upload Specifications</title>
  <style>
    body {
      font-family: Arial, sans-serif;
    }
    .header-container {
      background-color: #efefef;
      text-align: center; 
      padding: 40px 20px; 
      margin-bottom: 20px; 
      border-radius: 20px; 
    }

   
    .header {
      margin: 0; 
      font-size: 48px;
      font-weight: normal; 
      color: #333; 
    }
    .container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      max-width: 1200px;
      margin: 20px auto;
      padding: 0 20px;
      font-family: "montserrat", sans-serif; 
    }
    .header {
      text-align: center;
      margin-bottom: 24px;
    }
    .flex-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    .pdf-preview-container, .comments-container {
      flex: 1;
      margin-right: 10px;
      min-width: 300px;
    }
    .pdf-preview-container iframe {
      width: 100%;
      height: 450px;
      border: 1px solid #ccc;
    }
    .form-container {
      margin-top: 20px;
    }
    .submit-button {
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      width: 100%;
      padding: 8px;
      border-radius: 10px;
      display: inline-block; 
      margin: 0 auto;
    }
    .submit-button:hover {
      background-color: #0056b3;
    }
    .custom-select{
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
      
    .custom-entry {
      width: 580px;
      display: block;
      margin-bottom: 20px;
    
    }
    #uploadForm {
      display: flex;
      flex-direction: column;
      align-items: center; 
      width: 100%;
      max-width: 600px;
      margin: auto;
    }
    .button-container { 
      display: flex;
      text-align: center;
      width: 20%;
      justify-content: center; 
      margin-top: 20px; 
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="header-container">
      <h1 class="header">Upload Specifications</h1>
    </div>

    <form id="specificationsForm">
      <div class="flex-container">
        <div class="pdf-preview-container">
          <iframe id="pdfPreview" frameborder="0"></iframe>
        </div>
        <div class="comments-container">
          <label for="documentComment">Comment about your document (optional):</label>
          <textarea id="documentComment" name="documentComment" rows="4" cols="50" class="custom-entry" placeholder="Enter your comment here..."></textarea>
        </div>
      </div>
  


    <!-- Document Type Dropdown-->
    
    <label for="documentType"
      >Select the type of document that you have uploaded:
    </label>
    <select
      class="custom-select"
      id="documentType"
      name="documentType"
      onchange="categorizationDropDownMenu.updateDocCourses();"
    >
      <option selected>Choose a document type...</option>
      {% for document_type in document_types %}
      <option value="{{ document_type }}">{{ document_type }}</option>
      {% endfor %}
    </select>

    <!-- Grading System Dropdown, initially hidden -->
    <div id="gradingSystemDropdown" style="display: none">
      <label for="gradingSystem">Select the grading system used:</label>
      <select class="custom-select" id="gradingSystem" name="gradingSystem">
        <option selected>Choose a grading system...</option>
        <option value="G/U">G/U</option>
        <option value="A-F">A-F</option>
        <option value="VG/U/G">VG/U/G</option>
        <option value="1-5">1-5</option>
      </select>
    </div>

    <!-- Grade Dropdown, initially hidden -->
    <div id="gradeDropdown" style="display: none">
      <label for="documentGrade">Select the grade:</label>
      <select class="custom-select" id="documentGrade" name="documentGrade">
        <!-- Options will be dynamically added based on the grading system selected -->
      </select>
    </div>

    <!-- Document Date Selection-->
    <label for="documentDate">Select the date for your document:</label>
    <input
      type="date"
      id="documentDate"
      name="documentDate"
      class="custom-select"
      required
      onchange="categorizationDropDownMenu.updateDocCourses()"
    />


    <!-- University Dropdown-->
    <label for="documentUniversity"
      >Select the university for your document:
    </label>
    <select
      class="custom-select"
      id="uploadUniversity"
      name="uploadUniversity"
      onchange="categorizationDropDownMenu.updateDocCourses();"
    >
      <option selected>Choose a university...</option>
      {% for university in universities %}
      <option value="{{ university }}">{{ university }}</option>
      {% endfor %}
    </select>

    <!-- Subject Dropdown -->
    <label for="documentSubject">Select the subject for your document: </label>
    <select
      class="custom-select"
      id="uploadSubject"
      name="uploadSubject"
      onchange="categorizationDropDownMenu.updateDocCourses();"
    >
      <option selected>Choose a subject...</option>
      {% for subject in subjects %}
      <option value="{{ subject }}">{{ subject }}</option>
      {% endfor %}
    </select>

    <!-- Courses Dropdown, initially disabled -->
    <label for="documentCourse">Select the course for your document: </label>
    <select
      class="custom-select"
      id="uploadCourse"
      name="uploadCourse"
      disabled
    >
      <option selected>Choose a course...</option>
      <!-- Course options will be populated based on the selected university and subject -->
    </select>

    <!-- Manual course entry if course not in database, initially disabled -->
    <label for="manualDocumentCourse"
      >If the course does not appear in the dropdown menu, please enter 
      <br> the course code followed by the course name below:
    </label>
    <textarea
      class="custom-entry"
      id="manualUploadCourse"
      name="manualUploadCourse"
      placeholder="XY1234 Analys 1..."
      rows="1"
      cols="20"
      disabled
    ></textarea>

    <div class="checkbox-container">
      <input type="checkbox" id="publishCheckbox" name="publish" value="publish" required>
      <label for="publishCheckbox">I agree to publish this document.</label>
    </div>
    
    <!-- Checkbox for Anonymous Submission -->
    <div class="checkbox-container">
      <input type="checkbox" id="anonymousCheckbox" name="anonymous" value="anonymous">
      <label for="anonymousCheckbox">Submit anonymously.</label>
    </div>

    <!-- Submit button -->
    <div class="button-container">
      <!-- Submit button -->
      <button type="submit" id="submitBtn" class="submit-button">Submit</button>
    </div>
    <!-- Including tempurl, uid -->
    <input type="hidden" name="tempURL" value="{{ url }}" />
    <input type="hidden" name="uid" value="{{ uid }}" />
  </form>

  <script>
    class CategorizationDropDownMenu {
      updateDocCourses() {
        var universitySelect = document.getElementById("uploadUniversity");
        var subjectSelect = document.getElementById("uploadSubject");
        var documentSelect = document.getElementById("documentType");
        var dateSelect = document.getElementById("documentDate");
        var courseSelect = document.getElementById("uploadCourse");
        var courseEntry = document.getElementById("manualUploadCourse");
        var selectedUniversity = universitySelect.value;
        var selectedSubject = subjectSelect.value;
        var selectedDocument = documentSelect.value;
        var selectedDate = dateSelect.value;
        var selectedCourse = courseSelect.value;
        var enteredCourse = courseEntry.value;
        setTimeout(() => {
          if (
            selectedUniversity !== "Choose a university..." &&
            selectedUniversity &&
            selectedSubject !== "Choose a subject..." &&
            selectedSubject &&
            selectedDocument !== "Choose a document type..." &&
            selectedDocument &&
            selectedDate
          ) {
            fetch(
              `/get-courses?university=${selectedUniversity}&subject=${selectedSubject}`
            )
              .then((response) => {
                if (!response.ok) {
                  throw new Error("Failed to load courses"); // Error handling
                }
                return response.json();
              })
              .then((courses) => {
                courseSelect.innerHTML =
                  "<option selected>Choose a course...</option>";
                courses.forEach((course) => {
                  var option = document.createElement("option");
                  option.value = course;
                  option.textContent = course;
                  courseSelect.appendChild(option);
                });
                courseSelect.disabled = false;
                courseEntry.disabled = false;
              })
              .catch((error) => {
                // Error handling
                console.error("Failed to fetch courses:", error);
                alert("Failed to fetch courses. Please try again.");
              });
          } else {
            courseSelect.innerHTML =
              "<option selected>Choose a course...</option>";
            courseSelect.disabled = true;
            courseEntry.disabled = true;
          }
        }, 50);
      }
    }

    var categorizationDropDownMenu = new CategorizationDropDownMenu();

    //Code for checking that input has been made in all menus and checking documentType
    document.addEventListener("DOMContentLoaded", function () {
      document
        .getElementById("submitBtn")
        .addEventListener("click", function (event) {
          if (!isPublishing) {
            alert("You must agree to publish the document before submitting.");
            // Prevent the default form submission if no file is selected
            event.preventDefault();
          } else {
            pass}

          var documentType = document.getElementById("documentType").value;
          var documentDate = document.getElementById("documentDate").value;
          var university = document.getElementById("uploadUniversity").value;
          var subject = document.getElementById("uploadSubject").value;
          var course = document.getElementById("uploadCourse").value;
          var manualCourse = document
            .getElementById("manualUploadCourse")
            .value.trim();
          var gradingSystem = document.getElementById("gradingSystem").value;
          var documentGrade = document.getElementById("documentGrade").value;
        
          if (
            !documentType ||
            documentType === "Choose a document type..." ||
            !documentDate ||
            !university ||
            university === "Choose a university..." ||
            !subject ||
            subject === "Choose a subject..." ||
            (course === "Choose a course..." && manualCourse === "")
          ) {
            alert("Please make a selection in all required fields.");
            event.preventDefault();
            return false;
          }
          //If documentType = Assignment, check that a grade has been chosen
          if (documentType === "Assignment") {
            if (
              gradingSystem === "Choose a grading system..." ||
              !documentGrade
            ) {
              alert(
                "Please select a grading system and a grade for your assignment."
              );
              event.preventDefault(); // Prevent form submission
              return false;
            }
          }

          if (documentType === "Graded Exam") {
            alert("Graded Exam coming soon!");
          }

          event.preventDefault(); // Prevent form submission
        });
        var formData = new FormData(document.getElementById("specificationsForm"));
          // Add additional form data here if necessary
          
        submitForm(formData);
    });
    //Code for updating grading system
    document.addEventListener("DOMContentLoaded", function () {
      var documentTypeSelect = document.getElementById("documentType");
      var gradingSystemDropdown = document.getElementById(
        "gradingSystemDropdown"
      );
      var gradeDropdown = document.getElementById("gradeDropdown");
      var gradingSystemSelect = document.getElementById("gradingSystem");
      var gradeSelect = document.getElementById("documentGrade");

      function showHideDropdowns(show) {
        if (show) {
          gradingSystemDropdown.style.display = "block";
          gradeDropdown.style.display = "block";
        } else {
          gradingSystemDropdown.style.display = "none";
          gradeDropdown.style.display = "none";
        }
      }

      function updateGradeOptions() {
        var gradingSystem = gradingSystemSelect.value;
        gradeSelect.innerHTML = ""; // Clear existing options
        var grades = [];
        if (gradingSystem === "G/U") grades = ["G", "U"];
        else if (gradingSystem === "A-F")
          grades = ["A", "B", "C", "D", "E", "F"];
        else if (gradingSystem === "VG/U/G") grades = ["VG", "G", "U"];
        else if (gradingSystem === "1-5") grades = ["1", "2", "3", "4", "5"];

        grades.forEach(function (grade) {
          var option = new Option(grade, grade);
          gradeSelect.options.add(option);
        });
      }

      documentTypeSelect.addEventListener("change", function () {
        var isAssignment = documentTypeSelect.value === "Assignment";
        showHideDropdowns(isAssignment);
        // Reset grading system and grade dropdowns when document type changes
        gradingSystemSelect.value = "Choose a grading system...";
        gradeSelect.innerHTML = "";
      });

      gradingSystemSelect.addEventListener("change", updateGradeOptions);
    });

    document.getElementById("documentDate").addEventListener("change", function() {
    var inputDate = new Date(this.value);
    var currentDate = new Date();
    currentDate.setHours(0,0,0,0); // Set time to 00:00:00 to ignore time component

    // Check if the date is in the future
    if (inputDate > currentDate) {
        alert("The date cannot be in the future.");
        this.value = ''; // Resets the input field
    }
});
  </script>

  <script type="module">
    // Firebase configuration and initialization
    import firebaseConfig from "{{ url_for('static', filename='firebase-cfg.js') }}";
    import {
      getStorage,
      ref,
      uploadBytesResumable,
      getDownloadURL,
    } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-storage.js";
    import { onAuthStateChanged } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-auth.js";
    import {
      app,
      auth,
      userExists,
    } from "{{ url_for('static', filename='index.js') }}";

    onAuthStateChanged(auth, (user) => {
      if (user) {
        const uid = user.uid;
        document.querySelector('input[name="uid"]').value = uid;

        userExists(uid).then((exists) => {
          if (exists) {
            // Retrieve the tempURL parameter from the template context
            const tempURL = "{{ url }}";

            document
              .getElementById("submitBtn")
              .addEventListener("click", function (event) {
                var documentType =
                  document.getElementById("documentType").value;
                var documentDate =
                  document.getElementById("documentDate").value;
                var university =
                  document.getElementById("uploadUniversity").value;
                var subject = document.getElementById("uploadSubject").value;
                var course = document.getElementById("uploadCourse").value;
                var manualCourse = document
                  .getElementById("manualUploadCourse")
                  .value.trim();
                var gradingSystem =
                  document.getElementById("gradingSystem").value;
                var documentGrade =
                  document.getElementById("documentGrade").value;

                if (
                  !documentType ||
                  documentType === "Choose a document type..." ||
                  !documentDate ||
                  !university ||
                  university === "Choose a university..." ||
                  !subject ||
                  subject === "Choose a subject..." ||
                  (course === "Choose a course..." && manualCourse === "")
                ) {
                  // do nothing, info is not filled
                } else {
                  var formData = new FormData(
                    document.getElementById("specificationsForm")
                  );
                  formData.append("uid", uid);
                  submitForm(formData);
                }
              });

            // Call the previewPDF function with the tempURL parameter
            previewPDF(tempURL);
          } else {
            window.location.href = "/create_profile";
          }
        });
      } else {
        window.location.href = "/login";
      }
    });
    

    // Function to preview the PDF
    function previewPDF(tempURL) {
      const pdfPreview = document.getElementById("pdfPreview");
      if (tempURL) {
        // Assuming 'zoom' is a recognized query parameter by your PDF viewer
        pdfPreview.src = tempURL + "#zoom=50";
      } else {
        // Handle case when tempURL is not provided
        pdfPreview.style.display = "none";
        console.error("Temporary URL not found");
      }
    }

    function submitForm(formData) {
      // Submit the form with all data, including the downloadURL
      fetch("/upload_document_v2", {
        method: "POST",
        body: formData,
      })
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.text();
        })
        .then((data) => {
          console.log(data); // Handle success response
          window.location.href = "/";
        })
        .catch((error) => {
          console.error("There was a problem with the fetch operation:", error);
        });
    }
  </script>
</body>


{% endblock %}
